<!DOCTYPE html>
<html>
  <head>
    <title>Attention Plot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css">
    <style>
      .btn-custom {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }

      .btn-custom:hover {
        background-color: #0069d9;
        color: white;
      }
    </style>
  </head>
  <body class="container my-5">
    <h1 class="my-4">GPT-2 Attention Visualizer</h1>
    <form action="/generate_plot" method="post">
      <div class="form-group">
        <label for="text">Enter Text:</label>
        <textarea id="text" name="text" class="form-control" rows="4" required></textarea>
      </div>
      <div class="form-group">
        <label for="font_size">Font Size: <span id="font_size_value">10 - 32</span></label>
        <div id="font_size" class="my-3"></div>
        <input type="hidden" id="min_font_size" name="min_font_size">
        <input type="hidden" id="max_font_size" name="max_font_size">
      </div>
      <input type="submit" value="Generate Plot" class="btn-custom mb-5">
    </form>
    <div id="attention_text"> {% if attention_text %} <h2>Attention Based Text</h2>
      <p>{{ attention_text|safe }}</p> {% endif %}
    </div>
    <img src="{{ url_for('static', filename='images/plot.png') }}" alt="Attention Plot" class="img-fluid">
    <div id="generated_text"> {% if generated_text %} <h2>Generated Text</h2>
      <p>{{ generated_text }}</p> {% endif %}
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>
  <script>
    var fontSlider = document.getElementById('font_size');

    noUiSlider.create(fontSlider, {
      start: [12, 48],
      connect: true,
      range: {
        'min': 1,
        'max': 100
      }
    });

    fontSlider.noUiSlider.on('update', function (values, handle) {
      document.getElementById('font_size_value').textContent = Math.round(values[0]) + ' - ' + Math.round(values[1]);
      document.getElementById('min_font_size').value = Math.round(values[0]);
      document.getElementById('max_font_size').value = Math.round(values[1]);
    });
  </script>
</html>